[data-menu="button"] {
    display: none;
}

@media (max-width: 700px) {
    .js [data-menu="button"] {
        display: flex;
        background-color: #222;
        border: none;
        padding: .5rem 1rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin: 10px 10px;
        align-items: center;
        position: relative;
        z-index: 300;
    }
    .js [data-menu="button"]::before {
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        background-color: white;
        box-shadow: 0 -4px white, 0 4px white;
        margin-right: 8px;
        transition: transform .3s;
    }
    .js [data-menu="button"].active::before {
        transform: rotate(90deg);
    }
    .js [data-menu="list"] {
        display: none;
        position: absolute;
        background-color: #FB5;
        width: 160px;
        z-index: 200;
        padding: 60px 0 20px 0px;
        top: 0;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 50px;
    }
    .js [data-menu="list"].active {
        display: block;
        animation: show-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    }
    @keyframes show-bottom {
        0% {
            transform: scaleY(0);
            transform-origin: 0% 0%;
            opacity: 1;
        }
        100% {
            transform: scaleY(1);
            transform-origin: 0% 0%;
            opacity: 1;
        }
    }
    .js .dropdown-menu {
        position: static;
        border: none;
    }
}