.numeros-grid {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.numeros-grid h3 {
    font-family: 'Playfair Display SC';
    font-size: 1.7rem;
    margin-bottom: .5rem;
}
.numeros-grid span {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 1.4rem;
    color: #E54;

}